@media (max-width: 768px){
    .hamburger{
        display: flex;
        flex-direction: column;
        gap: 5px;
        cursor: pointer;
        z-index: 1;
    }
    .nav-menu.is-active {
        right: 0; /* Slide in */
    }
    .nav-menu{
        position: fixed;
        top: 0;
        right: -100%; /* Hidden */
        width: 50%;
        height: 100vh;
        background-color: #0d0d0d;
        flex-direction: column;
        padding: 50px 0 0 0;
        transition: 0.4s ease-in-out;
    }
    .nav-menu ul{
        flex-direction: column;
        padding: 0;
    }
    .nav-menu li{
        width: 100%;
    }
    .nav-menu a{
        padding: 10px 0;
    }
    .dropdown-menu{
        position: relative
    }
}
  