.branch-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 50px;
}
.enroll-section{
    background-color: #222;
    color: white;
}
.branch-text{
    display: flex;
    flex-direction: column;
    padding: 50px 10% ;
    gap: 20px;

}
.branch-text li{
    padding: 5px;
}
.branch-item{
    display: flex;
    flex-direction: column;
   text-align: center;
    width: auto;
    gap: 20px;
    padding: 20px;
    
}
.branch-item img{
    height: 200px;
    width: 600px;
}