.recitals-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}
.recitals-gallery a{
    color: white;
    text-decoration: none;
    width: 300px;
    height: 150px;
    border: solid;
    font-size: x-large;
    font-weight:700;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;

}
.recitals-gallery a p{
    font-size: medium;
    font-weight: 500
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: baseline;
    padding: 10px;
}
.gallery-items img{
    width: 200px;
    height: 200px;
}
.section-recital .page-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden; /* Ito ang taga-pigil sa white space sa kanan */
    width: 100%;
    max-width: 100vw;
}
.picture-gallery{
    padding: 100px 0 0 0;
}

.picture-gallery h2{
    padding: 20px 0;
}

.section-recital{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (max-width: 1024px) {
    .gallery{
      display: flex;
        flex-direction: row;
        flex-wrap: nowrap;     /* Importante: wag bababa ang images */
        overflow-x: auto;      /* Enable swipe */
        overflow-y: hidden;    /* Siguradong walang vertical scroll sa loob */
        padding: 20px;
        gap: 15px;
        box-sizing: border-box;
        justify-content: flex-start;
    }
    .gallery-items {
        flex: 0 0 auto; 
    }
}